{# @var craft \craft\web\twig\variables\CraftVariable #}

{% set ctaLinkText = theBlock.ctaLinkText | default('') %}
{% set ctaLink = theBlock.ctaLink.one().url | default('') %}
{% set heading = theBlock.heading | default('') %}
{% set slideEntries = theBlock.slideEntries.all() | default('') %}

{# {% if exhibit %} #}

    <div class="content-block entry-slider-block" data-scroll-section>

        <div class="entry-slider-info">

            <div class="entry-slider-link-container">
                <a class="entry-slider-link active" href="{{ ctaLink }}">
                    {{ ctaLinkText }}
                </a>
            </div>

            <h4 class="entry-slider-heading">
                {{ heading }}
            </h4>

            <div class="entry-slider-arrows">

                <button class="btn-slider-prev"><</button>

                <span class="divider">|</span>

                <button class="btn-slider-next">></button>

            </div>

        </div>

        <div class="entry-slider-container">

            <div class="entry-slider {% if slideEntries|length > 3 %}slide-wrap{% endif %}">

                {% for entry in slideEntries %}

                    {% set heroImage = entry.heroImage.one() | default('') %}

                    {% set heroImageTransformed = craft.imager.transformImage(heroImage, {
                        width: 500,
                        height: 500,
                        mode: 'crop',
                        allowUpscale: false,
                        format: 'jpg',
                        jpegQuality: 80,
                        interlace: true
                    }) %}

                    {% set slideTitle = entry.title %}
                    {% set slideDate = entry.postDate|date('m.d.Y') | default('') %}
                    {% set slideUrl = entry.url %}

                    {% if heroImage %}
                        <div class="slide">

                            <div class="slide-image-container">
                                <img class="slide-image" src="{{ heroImageTransformed }}" alt="{{ heroImage.title }}">
                            </div>

                            <a class="slide-link no-underline" href="{{ slideUrl }}">

                                <div class="slide-title">
                                    {{ slideTitle }}
                                </div>

                                <div class="slide-date">
                                    {{ slideDate }}
                                </div>

                            </a>

                        </div>
                    {% endif %}

                {% endfor %}

            </div>

        </div>

    </div>

{# {% endif %} #}
